*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar{
    background-color: black;
    .navbar-toggler-icon{
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    }
    button.navbar-toggler{
        background-color: #FFD43B;
        color: hsl(39, 94%, 41%);
    }
}
.navbar-brand img{
    width: 10%;
    border: none;
}
.nav-item{
    font-family: "Anta", sans-serif;
    font-size: 20px;
    margin: 15px;
    a{
        color: #FFD43B;
    }
}
.carousel-inner{
    width: 100%;
    .carousel-inner, img{
        width: 100%;
        overflow: hidden;
        height: fit-content;
        
    }
}